
body {
	
	margin: 0;
	padding: 0;
	background-color: black;
	height: 700px;
	font-family: Arial;
}

.container{
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background-color: wheat;
	padding: 20px;

}
